<header>
  <div class="header">
    <div style="display: inline; float: left; margin-left: 20px; margin-top: 9px;">
      <a style="text-decoration: none; color: black;" href="">Bem-vindo</a>
    </div>
    <div style="display: inline; float: right; margin-right: 20px; margin-top: 9px;">
      <div class="dropdown" style="margin-right: 50px;">
        Perfil
        <div class="dropdown-content">
          <a href="/updateProfile">Atualizar</a>
          <a href="/reset-password">Alterar Senha</a>
          <a href="/login">Sair</a>
        </div>
      </div>
      <div class="dropdown" style="margin-right: 50px;">
        Linhas
        <div class="dropdown-content">
          <a href="/registerLine">Cadastrar</a>
          <a href="/viewLine">Consultar</a>
          <a href="/factoryValue">Valor de Fábrica</a>
        </div>
      </div>
      <div class="dropdown" style="margin-right: 50px;">
        Analisar Linhas
        <div class="dropdown-content">
          <a href="/rpn">Cálculo RPN</a>
        </div>
      </div>
      <div class="dropdown" style="margin-right: 50px;">
        Históricos
        <div class="dropdown-content">
          <a href="/historyHoles">Buracos</a>
          <a href="/historySpotlights">Semáforos</a>
          <a href="/historySpeedBumbs">Lombadas</a>
          <a href="/historyStops">Paradas</a>
        </div>
      </div>
      <div class="dropdown" style="margin-right: 25px;">
        <a href="/auxiliaryTable" style="text-decoration: none; color: black;">Tabelas Auxiliares</a>
      </div>
    </div>
  </div>
</header>
