<div class="contentBox-small" style="width: 80%;">
  <div class="content-whole">
    <h1 style="text-align: center;">Valor de Fábrica</h1>
    <form [formGroup]="linhaFabricaForm" (ngSubmit)="onSubmit()" style="padding: 50px; font-size: 20px;">

      <div style="display: inline-block; width: 40%; margin-bottom: 20px">
        Selecionar Linha:
        <select formControlName="linhaId" class="form-control" (change)="setLinha()">
          <option value="{{linha.linhaId}}" *ngFor="let linha of linhas">{{linha.nomeLinha}}</option>
        </select>
      </div>

      <table class="table table-striped" style="font-size: 16px;">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Componente Mecânico</th>
            <th scope="col">RPN Buraco</th>
            <th scope="col">RPN Redutor</th>
            <th scope="col">RPN Carga</th>
            <th scope="col">KM Fabrica</th>
            <th scope="col"><b>RPN Total Fábrica</b></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Suspensão</td>
            <td>
              <input type="number" required min="0" max="99999" (change)="updateCalculation()" formControlName="suspensaoBuraco"
                class="form-control" autocomplete="off" />
              <div *ngIf="suspensaoBuraco?.errors.required || suspensaoBuraco?.errors.min || suspensaoBuraco?.errors.max"
                class="error-validation">
                Este campo precisa ser um valor entre 1 e 99999.
              </div>
            </td>
            <td>
              <input type="number" required min="0" max="99999" (change)="updateCalculation()" formControlName="suspensaoRedutor"
                class="form-control" autocomplete="off" />
              <div *ngIf="suspensaoRedutor?.errors.required || suspensaoRedutor?.errors.min || suspensaoRedutor?.errors.max"
                class="error-validation">
                Este campo precisa ser um valor entre 1 e 99999.
              </div>
            </td>
            <td>
              <input type="number" required min="0" max="99999" (change)="updateCalculation()" formControlName="suspensaoCarga"
                class="form-control" autocomplete="off" />
              <div *ngIf="suspensaoCarga?.errors.required || suspensaoCarga?.errors.min || suspensaoCarga?.errors.max"
                class="error-validation">
                Este campo precisa ser um valor entre 1 e 99999.
              </div>
            </td>
            <td>
              <input type="number" required min="0" max="99999" (change)="updateCalculation()" formControlName="suspensaoKm"
                class="form-control" autocomplete="off" />
              <div *ngIf="suspensaoKm?.errors.required || suspensaoKm?.errors.min || suspensaoKm?.errors.max"
                class="error-validation">
                Este campo precisa ser um valor entre 1 e 99999.
              </div>
            </td>
            <td>
              {{+suspensaoBuracoCalc + +suspensaoRedutorCalc + +suspensaoCargaCalc}}
            </td>
          </tr>
        </tbody>
      </table>

      <table class="table table-striped" style="font-size: 16px;">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Componente Mecânico</th>
            <th scope="col">RPN Parada</th>
            <th scope="col">RPN Semaforo</th>
            <th scope="col">RPN Redutor</th>
            <th scope="col">KM Fabrica</th>
            <th scope="col"><b>RPN Total Fábrica</b></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Embreagem</td>
            <td>
              <input type="number" required min="0" max="99999" (change)="updateCalculation()" formControlName="embreagemParada"
                class="form-control" autocomplete="off" />
              <div *ngIf="embreagemParada?.errors.required || embreagemParada?.errors.min || embreagemParada?.errors.max"
                class="error-validation">
                Este campo precisa ser um valor entre 1 e 99999.
              </div>
            </td>
            <td>
              <input type="number" required min="0" max="99999" (change)="updateCalculation()" formControlName="embreagemSemaforo"
                class="form-control" autocomplete="off" />
              <div *ngIf="embreagemSemaforo?.errors.required || embreagemSemaforo?.errors.min || embreagemSemaforo?.errors.max"
                class="error-validation">
                Este campo precisa ser um valor entre 1 e 99999.
              </div>
            </td>
            <td>
              <input type="number" required min="0" max="99999" (change)="updateCalculation()" formControlName="embreagemRedutor"
                class="form-control" autocomplete="off" />
              <div *ngIf="embreagemRedutor?.errors.required || embreagemRedutor?.errors.min || embreagemRedutor?.errors.max"
                class="error-validation">
                Este campo precisa ser um valor entre 1 e 99999.
              </div>
            </td>
            <td>
              <input type="number" required min="0" max="99999" (change)="updateCalculation()" formControlName="embreagemKm"
                class="form-control" autocomplete="off" />
              <div *ngIf="embreagemKm?.errors.required || embreagemKm?.errors.min || embreagemKm?.errors.max"
                class="error-validation">
                Este campo precisa ser um valor entre 1 e 99999.
              </div>
            </td>
            <td>
              {{+embreagemParadaCalc + +embreagemSemaforoCalc + +embreagemRedutorCalc}}
            </td>
          </tr>
        </tbody>
      </table>

      <table class="table table-striped" style="font-size: 16px;">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Componente Mecânico</th>
            <th scope="col">RPN Parada</th>
            <th scope="col">RPN Semaforo</th>
            <th scope="col">RPN Redutor</th>
            <th scope="col">KM Fabrica</th>
            <th scope="col"><b>RPN Total Fábrica</b></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Freios</td>
            <td>
              <input type="number" required min="0" max="99999" (change)="updateCalculation()" formControlName="freiosParada"
                class="form-control" autocomplete="off" />
              <div *ngIf="suspensaoKm?.errors.required || suspensaoKm?.errors.min || suspensaoKm?.errors.max"
                class="error-validation">
                Este campo precisa ser um valor entre 1 e 99999.
              </div>
            </td>
            <td>
              <input type="number" required min="0" max="99999" (change)="updateCalculation()" formControlName="freiosSemaforo"
                class="form-control" autocomplete="off" />
              <div *ngIf="suspensaoKm?.errors.required || suspensaoKm?.errors.min || suspensaoKm?.errors.max"
                class="error-validation">
                Este campo precisa ser um valor entre 1 e 99999.
              </div>
            </td>
            <td>
              <input type="number" required min="0" max="99999" (change)="updateCalculation()" formControlName="freiosRedutor"
                class="form-control" autocomplete="off" />
              <div *ngIf="suspensaoKm?.errors.required || suspensaoKm?.errors.min || suspensaoKm?.errors.max"
                class="error-validation">
                Este campo precisa ser um valor entre 1 e 99999.
              </div>
            </td>
            <td>
              <input type="number" required min="0" max="99999" (change)="updateCalculation()" formControlName="freiosKm"
                class="form-control" autocomplete="off" />
              <div *ngIf="suspensaoKm?.errors.required || suspensaoKm?.errors.min || suspensaoKm?.errors.max"
                class="error-validation">
                Este campo precisa ser um valor entre 1 e 99999.
              </div>
            </td>
            <td>
              {{+freiosParadaCalc + +freiosSemaforoCalc + +freiosRedutorCalc}}
            </td>
          </tr>
        </tbody>
      </table>

      <div style="margin-top: 20px;">
        <p><b>Resultados</b></p>

        <table class="table table-striped" style="font-size: 16px;">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Suspensão</th>
              <th scope="col">Embreagem</th>
              <th scope="col">Freios</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                RPN: <strong>{{+suspensaoBuraco + +suspensaoRedutor + +suspensaoCarga}}</strong><br />
                KM: <strong>{{suspensaoKm}}</strong><br />
              </td>
              <td>
                RPN: <strong>{{+embreagemParada + +embreagemSemaforo + +embreagemRedutor}}</strong><br />
                KM: <strong>{{embreagemKm}}</strong><br />
              </td>
              <td>
                RPN: <strong>{{+freiosParada + +freiosSemaforo + +freiosRedutor}}</strong><br />
                KM: <strong>{{freiosKm}}</strong><br />
              </td>
            </tr>
          </tbody>
        </table>
        <button type="submit" class="btn btn-primary float-right" [disabled]="!linhaFabricaForm.valid && isSubmitting">Salvar</button>
      </div>
    </form>
  </div>