<div class="contentBox-small" style="width: 80%;">
  <div class="content-whole">
    <h1 style="text-align: center;">Valor de Fábrica</h1>
    <form [formGroup]="linhaFabricaForm" (ngSubmit)="onSubmit()" style="padding: 50px; font-size: 20px;">

      <div style="display: inline-block; width: 40%; margin-bottom: 20px">
        Selecionar Linha:
        <select name="busline" [(ngModel)]="linhaSelecionada" class="form-control">
          <option value="{{linha.linhaId}}" *ngFor="let linha of linhas">{{linha.nomeLinha}}</option>
        </select>
      </div>

      <table class="table table-striped" style="font-size: 16px;">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Componente Mecânico</th>
            <th scope="col">RPN Buraco</th>
            <th scope="col">RPN Redutor</th>
            <th scope="col">RPN Carga</th>
            <th scope="col">KM Fabrica</th>
            <th scope="col"><b>RPN Total Fábrica</b></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Suspensão</td>
            <td>
              <input type="text" [(ngModel)]="suspensaoBuraco" formControlName="suspensaoBuraco" class="form-control" autocomplete="off" />
            </td>
            <td>
              <input type="text" [(ngModel)]="suspensaoRedutor" formControlName="suspensaoRedutor" class="form-control" autocomplete="off" />
            </td>
            <td>
              <input type="text" [(ngModel)]="suspensaoCarga" formControlName="suspensaoCarga" class="form-control" autocomplete="off" />
            </td>
            <td>
              <input type="text" [(ngModel)]="suspensaoKm" formControlName="suspensaoKm" class="form-control" autocomplete="off" />
            </td>
            <td>
              {{+suspensaoBuraco + +suspensaoRedutor + +suspensaoCarga}}
            </td>
          </tr>
        </tbody>
      </table>

      <table class="table table-striped" style="font-size: 16px;">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Componente Mecânico</th>
            <th scope="col">RPN Parada</th>
            <th scope="col">RPN Semaforo</th>
            <th scope="col">RPN Redutor</th>
            <th scope="col">KM Fabrica</th>
            <th scope="col"><b>RPN Total Fábrica</b></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Embreagem</td>
            <td>
              <input type="text" [(ngModel)]="embreagemParada" formControlName="embreagemParada" class="form-control" autocomplete="off" />
            </td>
            <td>
              <input type="text" [(ngModel)]="embreagemSemaforo" formControlName="embreagemSemaforo" class="form-control" autocomplete="off" />
            </td>
            <td>
              <input type="text" [(ngModel)]="embreagemRedutor" formControlName="embreagemRedutor" class="form-control" autocomplete="off" />
            </td>
            <td>
              <input type="text" [(ngModel)]="embreagemKm" formControlName="embreagemKm" class="form-control" autocomplete="off" />
            </td>
            <td>
              {{+embreagemParada + +embreagemSemaforo + +embreagemRedutor}}
            </td>
          </tr>
        </tbody>
      </table>

      <table class="table table-striped" style="font-size: 16px;">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Componente Mecânico</th>
            <th scope="col">RPN Parada</th>
            <th scope="col">RPN Semaforo</th>
            <th scope="col">RPN Redutor</th>
            <th scope="col">KM Fabrica</th>
            <th scope="col"><b>RPN Total Fábrica</b></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Freios</td>
            <td>
              <input type="text" [(ngModel)]="freiosParada" formControlName="freiosParada" class="form-control" autocomplete="off" />
            </td>
            <td>
              <input type="text" [(ngModel)]="freiosSemaforo" formControlName="freiosSemaforo" class="form-control" autocomplete="off" />
            </td>
            <td>
              <input type="text" [(ngModel)]="freiosRedutor" formControlName="freiosRedutor" class="form-control" autocomplete="off" />
            </td>
            <td>
              <input type="text" [(ngModel)]="freiosKm" formControlName="freiosKm" class="form-control" autocomplete="off" />
            </td>
            <td>
              {{+freiosParada + +freiosSemaforo + +freiosRedutor}}
            </td>
          </tr>
        </tbody>
      </table>

      <div style="margin-top: 20px;">
        <p><b>Resultados</b></p>

        <table class="table table-striped" style="font-size: 16px;">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Suspensão</th>
              <th scope="col">Embreagem</th>
              <th scope="col">Freios</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                RPN: <strong>{{+suspensaoBuraco + +suspensaoRedutor + +suspensaoCarga}}</strong><br />
                KM: <strong>{{suspensaoKm}}</strong><br />
              </td>
              <td>
                RPN: <strong>{{+embreagemParada + +embreagemSemaforo + +embreagemRedutor}}</strong><br />
                KM: <strong>{{embreagemKm}}</strong><br />
              </td>
              <td>
                RPN: <strong>{{+freiosParada + +freiosSemaforo + +freiosRedutor}}</strong><br />
                KM: <strong>{{freiosKm}}</strong><br />
              </td>
            </tr>
          </tbody>
        </table>
        <button type="submit" class="btn btn-primary float-right" [disabled]="!linhaFabricaForm.valid && isSubmitting">Salvar</button>
      </div>
    </form>
  </div>