<div class="contentBox-big">
  <div class="content-whole">
    <h1 style="text-align: center;">Consultar Linhas</h1>

    <table>
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Número da Linha</th>
          <th>Nome da Linha</th>
          <th>Número de Paradas</th>
          <th>Número de Buracos</th>
          <th>Número de Semáforos</th>
          <th>Número de Lombadas</th>
          <th>Tipo de Ônibus</th>
          <th>Peso do Ônibus</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="checkbox" /></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>

    <button style="margin-top: 20px;" id="appearance-button">Apagar Seleção</button>

  </div>
</div>
