<div class="contentBox-big">
  <div class="content-whole">
    <h1 style="text-align: center;">Consultar Linhas</h1>

    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Número da Linha</th>
          <th scope="col">Nome da Linha</th>
          <th scope="col">Número de Paradas</th>
          <th scope="col">Número de Buracos</th>
          <th scope="col">Número de Semáforos</th>
          <th scope="col">Número de Lombadas</th>
          <th scope="col">Tipo de Ônibus</th>
          <th scope="col">Peso do Ônibus</th>
          <th scope="col">Açoes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let linha of linhas">
          <td>{{linha.numeroLinha}}</td>
          <td>{{linha.nomeLinha}}</td>
          <td>{{linha.numParadas}}</td>
          <td>{{linha.numBuracos}}</td>
          <td>{{linha.numSemaforo}}</td>
          <td>{{linha.numLombadas}}</td>
          <td>{{linha.tipoOnibusNome}}</td>
          <td>{{linha.pesoOnibus}}</td>
          <td>
              <a class="btn btn-sm btn-primary" href="#" role="button">Editar</a>
              <button class="btn btn-sm btn-danger" (click)="removerLinha(linha)" [disabled]="isDeleting" role="button" style="margin-left: 10px">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>