<div class="contentBox-small" style="width: 1100px;">
  <div class="content-whole">
    <h1 style="text-align: center;">Calcular RPN</h1>
    <div style="padding: 50px; font-size: 20px;">
      <div style="width: 50%">
        Selecionar Linha:
        <br />
        <select class="form-control" name="busline" id="appearance-select" [(ngModel)]="selectedLinha" (change) = "SetEnablingTable()" >
          <option *ngFor="let linha of linhas" [value]="linha.linhaId">{{linha.nomeLinha}}</option>
        </select>
      </div>
    <!--   <div style="width: 50%">
        Componente:
        <br />
        <select class="form-control" name="component" data-live-search="true" id="appearance-select" [(ngModel)]="selecao" [disabled]="!isEnablingComponent"
          (change)="setRPNAndKm()">
          <option value="suspension">Suspensão</option>
          <option value="brakes">Freios</option>
          <option value="clutch">Embreagem</option>
        </select>
      </div> -->

      Preencha a tabela abaixo para obter os resultados:
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Descrição</th>
            <th>
              <a data-toggle="modal" href="#myModalOcorrencia">Ocorrência</a>
              <!-- Modal -->
              <div class="modal fade" id="myModalOcorrencia" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                      <p>Aparecer tabela Ocorrencia.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
              </div>

            </th>
            <th>

              <a data-toggle="modal" href="#myModalSeveridade">Severidade</a>
              <!-- Modal -->
              <div class="modal fade" id="myModalSeveridade" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                      <p>Aparecer tabela Severidade.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
              </div>

            </th>
            <th>

              <a data-toggle="modal" href="#myModalDeteccao">Deteccao</a>
              <!-- Modal -->
              <div class="modal fade" id="myModalDeteccao" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                      <p>Aparecer tabela Deteccao.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
              </div>
            </th>
            <th>
              <b>RPN</b>
            </th>
          </tr>
        </thead>
        <tbody >
          <thead class="thead-black"><tr><th>Suspensão</th></tr></thead>
          
          <tr>
            <td>{{type1}}</td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="ocorRow1S" (change)="setRPNAndKmSuspensao()"
              />

              <div *ngIf="ocorSuspensao <1 || ocorSuspensao > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>

            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="seveRow1S" (change)="setRPNAndKmSuspensao()"
              />
              <div *ngIf="seveSuspensao <1 || seveSuspensao > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="deteRow1S" (change)="setRPNAndKmSuspensao()"
              />
              <div *ngIf="deteSuspensao <1 || deteSuspensao > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>{{ocorRow1S * seveRow1S * deteRow1S}}</td>
          </tr>
          <tr>
            <td>{{type2}}</td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="ocorRow2S" (change)="setRPNAndKmSuspensao()"
              />
              <div *ngIf="ocorFreio <1 || ocorFreio > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="seveRow2S" (change)="setRPNAndKmSuspensao()"
              />
              <div *ngIf="seveFreio <1 || seveFreio > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="deteRow2S" (change)="setRPNAndKmSuspensao()"
              />
              <div *ngIf="deteFreio <1 || deteFreio > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>{{ocorRow2S * seveRow2S * deteRow2S}}</td>
          </tr>
          <tr>
            <td>{{type3}}</td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="ocorRow3S" (change)="setRPNAndKmSuspensao()"
              />
              <div *ngIf="ocorEmbreagem <1 || ocorEmbreagem > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="seveRow3S" (change)="setRPNAndKmSuspensao()"
              />
              <div *ngIf="seveEmbreagem <1 || seveEmbreagem > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="deteRow3S" (change)="setRPNAndKmSuspensao()"
              />
              <div *ngIf="deteEmbreagem <1 || deteEmbreagem > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>

            </td>
            <td>{{ocorRow3S * seveRow3S * deteRow3S}}</td>
          </tr>
        </tbody>
        <tbody >
          <thead class="thead-black">  <tr>
              <th>Freios</th></tr></thead>
      
          <tr>
            <td>{{type1}}</td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="ocorRow1F" (change)="setRPNAndKmFreio()"
              />

              <div *ngIf="ocorSuspensao <1 || ocorSuspensao > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>

            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="seveRow1F" (change)="setRPNAndKmFreio()"
              />
              <div *ngIf="seveSuspensao <1 || seveSuspensao > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="deteRow1F" (change)="setRPNAndKmFreio()"
              />
              <div *ngIf="deteSuspensao <1 || deteSuspensao > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>{{ocorRow1F * seveRow1F * deteRow1F}}</td>
          </tr>
          <tr>
            <td>{{type2}}</td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="ocorRow2F" (change)="setRPNAndKmFreio()"
              />
              <div *ngIf="ocorFreio <1 || ocorFreio > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="seveRow2F" (change)="setRPNAndKmFreio()"
              />
              <div *ngIf="seveFreio <1 || seveFreio > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="deteRow2F" (change)="setRPNAndKmFreio()"
              />
              <div *ngIf="deteFreio <1 || deteFreio > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>{{ocorRow2F * seveRow2F * deteRow2F}}</td>
          </tr>
          <tr>
            <td>{{type3}}</td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="ocorRow3F" (change)="setRPNAndKmFreio()"
              />
              <div *ngIf="ocorEmbreagem <1 || ocorEmbreagem > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="seveRow3F" (change)="setRPNAndKmFreio()"
              />
              <div *ngIf="seveEmbreagem <1 || seveEmbreagem > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="deteRow3F" (change)="setRPNAndKmFreio()"
              />
              <div *ngIf="deteEmbreagem <1 || deteEmbreagem > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>

            </td>
            <td>{{ocorRow3F * seveRow3F * deteRow3F}}</td>
          </tr>
        </tbody>

        <tbody >
            <thead class="thead-black"><tr><th>Embreagem</th></tr></thead>
       
          <tr>
            <td>{{type1}}</td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="ocorRow1E" (change)="setRPNAndKmEmbreagem()"
              />

              <div *ngIf="ocorSuspensao <1 || ocorSuspensao > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>

            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="seveRow1E" (change)="setRPNAndKmEmbreagem()"
              />
              <div *ngIf="seveSuspensao <1 || seveSuspensao > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="deteRow1E" (change)="setRPNAndKmEmbreagem()"
              />
              <div *ngIf="deteSuspensao <1 || deteSuspensao > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>{{ocorRow1E * seveRow1E * deteRow1E}}</td>
          </tr>
          <tr>
            <td>{{type2}}</td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="ocorRow2E" (change)="setRPNAndKmEmbreagem()"
              />
              <div *ngIf="ocorFreio <1 || ocorFreio > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="seveRow2E" (change)="setRPNAndKmEmbreagem()"
              />
              <div *ngIf="seveFreio <1 || seveFreio > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="deteRow2E" (change)="setRPNAndKmEmbreagem()"
              />
              <div *ngIf="deteFreio <1 || deteFreio > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>{{ocorRow2E* seveRow2E * deteRow2E}}</td>
          </tr>
          <tr>
            <td>{{type3}}</td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="ocorRow3E" (change)="setRPNAndKmEmbreagem()"
              />
              <div *ngIf="ocorEmbreagem <1 || ocorEmbreagem > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="seveRow3E" (change)="setRPNAndKmEmbreagem()"
              />
              <div *ngIf="seveEmbreagem <1 || seveEmbreagem > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="deteRow3E" (change)="setRPNAndKmEmbreagem()"
              />
              <div *ngIf="deteEmbreagem <1 || deteEmbreagem > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>

            </td>
            <td>{{ocorRow3E * seveRow3E * deteRow3E}}</td>
          </tr>
        </tbody>
      </table>



      <div style="margin-top: 20px;">
        <p>
          <b>Resultados</b>
        </p>
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th style="width: 25%">Suspensão</th>
              <th style="width: 25%">Freios</th>
              <th style="width: 25%">Embreagem</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                RPN Suspensão: {{RPNTSuspensao}}
                <br /> KM Suspensão: {{KmSuspensao}}
              </td>
              <td>
                RPN Freios: {{RPNTFreio}}
                <br /> KM Freio: {{KmFreio}}
              </td>
              <td>
                RPN Embreagem: {{RPNTEmgreagem}}
                <br /> KM Embreagem: {{KmEmbreagem}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!isSaving" style='margin:10px'>Salvar Análise</button>
      <button class="btn btn-primary" (click)="redirecionarParaGerarRelatorio(linha)" [disabled]="!isRedirecting" role="button"
        style='margin:10px'>Gerar Relatório</button>
    </div>
  </div>
</div>