<div class="contentBox-small">
  <div class="content-whole">
    <h1 style="text-align: center;">Calcular RPN</h1>
    <div style="padding: 50px; font-size: 20px;">
      <div style="width: 45%">
        Selecionar Linha:<br />
        <select name="busline" id="appearance-select">
          <option *ngFor="let linha of linhas" value="{{linha.linhaID}}">
            {{linha.nomeLinha}}
          </option>
        </select>
      </div>
      <div style="width: 45%">
        Componente:<br />
        <select name="component" id="appearance-select">
          <option value="suspension">Suspensão</option>
          <option value="brakes">Freios</option>
          <option value="clutch">Embreagem</option>
        </select>
      </div>

      <table border="1" style="margin-top: 20px;">
        <thead>
          <tr>
            <th>Descrição</th>
            <th>Ocorrência</th>
            <th>Severidade</th>
            <th>Detecção</th>
            <th><b>RPN</b></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Buracos</td>
            <td><input type="text" autocomplete="off" /></td>
            <td><input type="text" autocomplete="off" /></td>
            <td><input type="text" autocomplete="off" /></td>
            <td>{{ocor1 * seve1 * dete1}}</td>
          </tr>
          <tr>
            <td>Redutores</td>
            <td><input type="text" autocomplete="off" /></td>
            <td><input type="text" autocomplete="off" /></td>
            <td><input type="text" autocomplete="off" /></td>
            <td>{{ocor2 * seve2 * dete2}}</td>
          </tr>
          <tr>
            <td>Carga</td>
            <td><input type="text" autocomplete="off" /></td>
            <td><input type="text" autocomplete="off" /></td>
            <td><input type="text" autocomplete="off" /></td>
            <td>{{ocor3 * seve3 * dete3}}</td>
          </tr>
        </tbody>
      </table>
      <div style="margin-top: 20px;">
        <p><b>Resultados</b></p>
        <table>
          <thead>
            <tr>
              <th style="width: 25%">Suspensão</th>
              <th style="width: 25%">Freios</th>
              <th style="width: 25%">Embreagem</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                RPN: x1 + x2 + x3<br />
                KM: Regra de 3
              </td>
              <td>
                RPN: x1 + x2 + x3<br />
                KM: Regra de 3
              </td>
              <td>
                RPN: x1 + x2 + x3<br />
                KM: Regra de 3
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button style="margin-top: 20px;" id="appearance-button">Relatórios</button>
    </div>
  </div>
</div>
