<div class="contentBox-small" style="width: 1100px;">
  <div class="content-whole">
    <h1 style="text-align: center;">Calcular RPN</h1>
    <div style="padding: 50px; font-size: 20px;">
      <div style="width: 50%">
        Selecionar Linha:
        <br />
        <select class="form-control" name="busline" id="appearance-select" [(ngModel)]="selectedLinha" (change)="setRPNAndKm()">
          <option *ngFor="let linha of linhas" [value]="linha.linhaId">{{linha.nomeLinha}}</option>
        </select>
      </div>
      <div style="width: 50%">
        Componente:
        <br />
        <select class="form-control" name="component" data-live-search="true" id="appearance-select" [(ngModel)]="selecao" [disabled]="!isEnablingComponent"
          (change)="setRPNAndKm()">
          <option value="suspension">Suspensão</option>
          <option value="brakes">Freios</option>
          <option value="clutch">Embreagem</option>
        </select>
      </div>

      Preencha a tabela abaixo para obter os resultados:
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Descrição</th>
            <th>
              <a data-toggle="modal" href="#myModalOcorrencia">Ocorrência</a>
              <!-- Modal -->
              <div class="modal fade" id="myModalOcorrencia" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                      <p>Aparecer tabela Ocorrencia.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
              </div>

            </th>
            <th>

              <a data-toggle="modal" href="#myModalSeveridade">Severidade</a>
              <!-- Modal -->
              <div class="modal fade" id="myModalSeveridade" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                      <p>Aparecer tabela Severidade.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
              </div>

            </th>
            <th>

              <a data-toggle="modal" href="#myModalDeteccao">Deteccao</a>
              <!-- Modal -->
              <div class="modal fade" id="myModalDeteccao" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                      <p>Aparecer tabela Deteccao.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
              </div>
            </th>
            <th>
              <b>RPN</b>
            </th>
          </tr>
        </thead>
        <tbody >
          <thead class="thead-black">Suspensão</thead>
          
          <tr>
            <td>{{type1}}</td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="ocorRow1" (change)="setRPNAndKm()"
              />

              <div *ngIf="ocorSuspensao <1 || ocorSuspensao > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>

            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="seveRow1" (change)="setRPNAndKm()"
              />
              <div *ngIf="seveSuspensao <1 || seveSuspensao > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="deteRow1" (change)="setRPNAndKm()"
              />
              <div *ngIf="deteSuspensao <1 || deteSuspensao > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>{{ocorRow1 * seveRow1 * deteRow1}}</td>
          </tr>
          <tr>
            <td>{{type2}}</td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="ocorRow2" (change)="setRPNAndKm()"
              />
              <div *ngIf="ocorFreio <1 || ocorFreio > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="seveRow2" (change)="setRPNAndKm()"
              />
              <div *ngIf="seveFreio <1 || seveFreio > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="deteRow2" (change)="setRPNAndKm()"
              />
              <div *ngIf="deteFreio <1 || deteFreio > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>{{ocorRow2 * seveRow2 * deteRow2}}</td>
          </tr>
          <tr>
            <td>{{type3}}</td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="ocorRow3" (change)="setRPNAndKm()"
              />
              <div *ngIf="ocorEmbreagem <1 || ocorEmbreagem > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="seveRow3" (change)="setRPNAndKm()"
              />
              <div *ngIf="seveEmbreagem <1 || seveEmbreagem > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="deteRow3" (change)="setRPNAndKm()"
              />
              <div *ngIf="deteEmbreagem <1 || deteEmbreagem > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>

            </td>
            <td>{{ocorRow3 * seveRow3 * deteRow3}}</td>
          </tr>
        </tbody>
        <tbody >
          <thead class="thead-black">Freios</thead>
      
          <tr>
            <td>{{type1}}</td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="ocorRow1" (change)="setRPNAndKm()"
              />

              <div *ngIf="ocorSuspensao <1 || ocorSuspensao > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>

            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="seveRow1" (change)="setRPNAndKm()"
              />
              <div *ngIf="seveSuspensao <1 || seveSuspensao > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="deteRow1" (change)="setRPNAndKm()"
              />
              <div *ngIf="deteSuspensao <1 || deteSuspensao > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>{{ocorRow1 * seveRow1 * deteRow1}}</td>
          </tr>
          <tr>
            <td>{{type2}}</td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="ocorRow2" (change)="setRPNAndKm()"
              />
              <div *ngIf="ocorFreio <1 || ocorFreio > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="seveRow2" (change)="setRPNAndKm()"
              />
              <div *ngIf="seveFreio <1 || seveFreio > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="deteRow2" (change)="setRPNAndKm()"
              />
              <div *ngIf="deteFreio <1 || deteFreio > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>{{ocorRow2 * seveRow2 * deteRow2}}</td>
          </tr>
          <tr>
            <td>{{type3}}</td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="ocorRow3" (change)="setRPNAndKm()"
              />
              <div *ngIf="ocorEmbreagem <1 || ocorEmbreagem > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="seveRow3" (change)="setRPNAndKm()"
              />
              <div *ngIf="seveEmbreagem <1 || seveEmbreagem > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="deteRow3" (change)="setRPNAndKm()"
              />
              <div *ngIf="deteEmbreagem <1 || deteEmbreagem > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>

            </td>
            <td>{{ocorRow3 * seveRow3 * deteRow3}}</td>
          </tr>
        </tbody>

        <tbody >
            <thead class="thead-black">Embreagem</thead>
       
          <tr>
            <td>{{type1}}</td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="ocorRow1" (change)="setRPNAndKm()"
              />

              <div *ngIf="ocorSuspensao <1 || ocorSuspensao > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>

            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="seveRow1" (change)="setRPNAndKm()"
              />
              <div *ngIf="seveSuspensao <1 || seveSuspensao > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="deteRow1" (change)="setRPNAndKm()"
              />
              <div *ngIf="deteSuspensao <1 || deteSuspensao > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>{{ocorRow1 * seveRow1 * deteRow1}}</td>
          </tr>
          <tr>
            <td>{{type2}}</td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="ocorRow2" (change)="setRPNAndKm()"
              />
              <div *ngIf="ocorFreio <1 || ocorFreio > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="seveRow2" (change)="setRPNAndKm()"
              />
              <div *ngIf="seveFreio <1 || seveFreio > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="deteRow2" (change)="setRPNAndKm()"
              />
              <div *ngIf="deteFreio <1 || deteFreio > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>{{ocorRow2 * seveRow2 * deteRow2}}</td>
          </tr>
          <tr>
            <td>{{type3}}</td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="ocorRow3" (change)="setRPNAndKm()"
              />
              <div *ngIf="ocorEmbreagem <1 || ocorEmbreagem > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="seveRow3" (change)="setRPNAndKm()"
              />
              <div *ngIf="seveEmbreagem <1 || seveEmbreagem > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>
            </td>
            <td>
              <input [disabled]="!isEnablingTable" class="form-control" type="text" autocomplete="off" [(ngModel)]="deteRow3" (change)="setRPNAndKm()"
              />
              <div *ngIf="deteEmbreagem <1 || deteEmbreagem > 10" class="error-validation">
                O valor deve ser entre 1-10.
              </div>

            </td>
            <td>{{ocorRow3 * seveRow3 * deteRow3}}</td>
          </tr>
        </tbody>
      </table>



      <div style="margin-top: 20px;">
        <p>
          <b>Resultados</b>
        </p>
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th style="width: 25%">Suspensão</th>
              <th style="width: 25%">Freios</th>
              <th style="width: 25%">Embreagem</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                RPN Suspensão: {{RPNTSuspensao}}
                <br /> KM Suspensão: {{KmSuspensao}}
              </td>
              <td>
                RPN Freios: {{RPNTFreio}}
                <br /> KM Freio: {{KmFreio}}
              </td>
              <td>
                RPN Embreagem: {{RPNTEmgreagem}}
                <br /> KM Embreagem: {{KmEmbreagem}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!isSaving" style='margin:10px'>Salvar Análise</button>
      <button class="btn btn-primary" (click)="redirecionarParaGerarRelatorio(linha)" [disabled]="!isRedirecting" role="button"
        style='margin:10px'>Gerar Relatório</button>
    </div>
  </div>
</div>