<content>
  <div class="contentBox-login">
    <div class="content-whole">
      <div style="margin-top: 20px; text-align: center">
        <img src="../../assets/img/mi_bus.png" width="96" height="96" />
        <p style="margin-top: -10px;">
          <span style="font-size: 32px;">APM</span><br />
          <span style="font-size: 20px;">Aplicação para Predição de Manutenção</span>
        </p>
        <form style="padding: 50px; font-size: 20px;">
          <div style="width: 60%; margin-left:auto; margin-right:auto; text-align: left">
            Usuário:<br />
            <input type="text" name="firstName">
          </div>
          <div style="width: 60%; margin-left:auto; margin-right:auto; text-align: left">
            Senha:<br />
            <input type="password" name="lastName">
          </div>

          <a href="/home" style="margin-top: 20px;" id="appearance-button">Entrar</a>
          <a href="/home" style="margin-top: 20px; margin-left: 20px;" id="appearance-button">Cadastrar</a>
          <div style="margin-top: 10px;">
            <a href="/home" style="text-decoration: none; color: black;">ESQUECEU SUA SENHA?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</content>