<div class="contentBox-small">
  <div class="content-whole">
    <h1 style="text-align: center;">Histórico Lombadas</h1>
    <div style="display: inline-block; width: 40%">
      Selecionar Linha:<br />
      <select name="busline" id="appearance-select">
        <option selected>Todas</option>
        <option>Circular Centro (Horário)</option>
        <option>Interbairros II</option>
        <option>Outro</option>
      </select>
    </div>

    <table style="margin-top: 10px;">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>Nome da Linha</th>
          <th>Número de Lombadas</th>
          <th>Data de Registro</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="checkbox" /></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>

    <button style="margin-top: 20px;" id="appearance-button">Apagar Seleção</button>

  </div>
</div>
