<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
<div class="contentBox-small">
  <div class="content-whole">
    <h1 style="text-align: center;">Cadastrar Linha</h1>
    <form style="padding: 50px; font-size: 20px;">

      <div style="width: 250px; display: inline-block;">
        Selecione a tabela:
        <br />
        <select name="auxtableSel" id="appearance-select" [(ngModel)]="selectedTipo" (change)="getAuxTable()">
          <option value="type1">Ocorrëncia</option>
          <option value="type2">Severidade</option>
          <option value="type3">Detecção</option>
        </select>
      </div>
      <table style="margin-top: 10px;">
        <div *ngIf="conteudo1">
          <thead>
            <tr>
              <th style="text-align: center;">Probabilidade de Falha</th>
              <th style="text-align: center;">Taxas de Falhas Possíveis</th>
              <th style="text-align: center;">Índice de Ocorrência</th>
            </tr>
          </thead>
          <tbody style="text-align: center;">

            <tr *ngFor="let entry of ocorrenciaTable">
              <td>{{entry.probabilidade}}</td>
              <td>{{entry.taxasFalhasPossiveis}}</td>
              <td>{{entry.indiceOcorrencia}}</td>
            </tr>
          </tbody>
        </div>

        <div *ngIf="conteudo2">
          <thead>
              <tr>
                <th style="text-align: center;">Severidade Tipo</th>
                <th style="text-align: center;">Efeito da Severidade</th>
                <th style="text-align: center;">Indice da Severidade</th>
              </tr>
            </thead>
          <tbody style="text-align: center;">
            <tr *ngFor="let entry of severidadeTable">
              <td>{{entry.severidadeTipo}}</td>
            </tr>
          </tbody>
        </div>

        <div *ngIf="conteudo3">
          <thead>
            <tr>
              <th style="text-align: center;">Probabilidade da Detecção</th>
              <th style="text-align: center;">Faixas de Critérios de Detecção</th>
              <th style="text-align: center;">Índice de Detecção</th>
            </tr>
          </thead>
          <tbody style="text-align: center;">
            <tr *ngFor="let entry of deteccaoTable">
              <td>{{entry.probabilidadeDeteccao}}</td>
              <td>{{entry.faixasCriteriosDeteccao}}</td>
              <td>{{entry.indiceDeteccao}}</td>
            </tr>
          </tbody>
        </div>
      </table>
      <button style="margin-top: 20px;" id="appearance-button">Editar</button>
      <button style="margin-top: 20px;" id="appearance-button">Salvar</button>

    </form>
  </div>
</div>