<div class="contentBox-small">
  <div class="content-whole">
    <h1 style="text-align: center;">Histórico Buracos</h1>

    <div style="width: 50%">
      Selecionar Linha:
      <br />
      <select class="form-control" [(ngModel)]="selectedLinha" name="busline" id="appearance-select" (change)="filtrarLinha()">
        <option [value]="todas">Todas</option>
        <option *ngFor="let linha of linhas" [value]="linha.linhaId">{{linha.nomeLinha}}</option>
      </select>
    </div>


    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>&nbsp;</th>
          <th>Nome da Linha</th>
          <th>Número de Buracos</th>
          <th>Data de Registro</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let linha of linhasFiltro">
          <td>
            <input type="checkbox" />
          </td>
          <td>{{linha.nomeLinha}}</td>
          <td>{{linha.numBuracos}}</td>
          <td>{{linha.dataCadastro}}</td>
        </tr>
      </tbody>
    </table>

    <button style="margin-top: 20px;" id="appearance-button">Apagar Seleção</button>

  </div>