<div class="contentBox-small">
  <div class="content-whole">
    <h1 style="text-align: center;">Atualizar Perfil</h1>
    <form style="padding: 50px; font-size: 20px;">
      <div style="display: inline-block; width: 45%">
        Primeiro Nome:<br />
        <input type="text" name="firstName">
      </div>
      <div style="float: right; width: 45%">
        Sobrenome:<br />
        <input type="text" name="lastName">
      </div>
      <div style="margin-top: 10px;">
        E-mail:<br />
        <input type="text" name="email">
      </div>
      <div style="display: inline-block; width: 30%; margin-top: 10px;">
        CPF:<br />
        <input type="text" name="CPF" maxlength="11" placeholder="Sem traços ou pontos">
      </div>
      <div style="display: inline-block; margin-left: 4.5%; width: 30%">
        Cidade:<br />
        <select name="city" id="appearance-select">
          <option value="curitiba">Curitiba</option>
          <option value="other">Outro</option>
        </select>
      </div>
      <div style="float: right; width: 30%; margin-top: 10px;">
        País:<br />
        <select name="country" id="appearance-select">
          <option value="brazil">Brasil</option>
          <option value="other">Outro</option>
        </select><br />
      </div>
      <div style="margin-top: 10px;">
        Organização:<br />
        <input type="text" name="organization">
      </div>

      <button style="margin-top: 20px;" id="appearance-button">Atualizar</button>
      <button style="margin-top: 20px; margin-left: 20px;" id="appearance-button">Cancelar</button>

    </form>
  </div>
</div>
